:root{
    --infoWidth: 360px;
    --postWidth: max(33vw, 400px);
    --postHeight: 240px;
}

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial;
    display:flex;
    background-color: white;
    color: #2A2A2A;
}
a {
    color: #2A2A2A;
    text-decoration: none !important;
    outline: none;
    &:hover, 
    &:active, 
    &:visited, 
    &:focus {
        color: #2A2A2A;
        text-decoration: none !important;
        border-bottom: none !important;
        box-shadow: none !important;
        outline: none !important;
    }
}

header {
    margin-right: min(270px, 13.5vw);
}

main {
    margin-top : 196px;
    opacity: 1;
}
/*weird fix for opacity behavior of child components*/
.hidden {
    opacity: 0;
    visibility: hidden;
}
/* MARKDOWN SECTION */
ol, ul {
  list-style-position: inside;
}
.blog-img {
    height: 320px;
    width: 100%;
    display: block;
    margin: 16px auto;
    border-radius: 8px;
    border: 4px solid #ffffff;
    object-fit: cover;
}
.blog-right {
    height: 280px;
    max-width: 240px;
    float: right;
    margin-right: -80px;
    margin-left: 16px;
}
.blog-left {
    height: 280px;
    max-width: 240px;
    float: left;
    margin-left: -80px;
    margin-right: 16px;
}
.unaltered {
    object-fit:contain;
    width: 100%;
    height: 100%;
}
#blog-post-container{
    padding: 16px;
}
#blog-post-container {
    & > h1, & >h2 {
        padding: 16px 0px;
    }
    & > ul, & > ol{
        padding: 8px 0px;
    }
    & li {
        padding: 2px 0px;
    }
}