:root{
    --infoWidth: 360px;
    --postWidth: max(33vw, 390px);
    --postHeight: 240px;
}

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial;
    display:flex;
    background-color: white;
    color: #2A2A2A;
}
a {
    color: #2A2A2A;
    text-decoration: none !important;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    &:hover, 
    &:active, 
    &:visited, 
    &:focus {
        color: #2A2A2A;
        text-decoration: none !important;
        border-bottom: none !important;
        box-shadow: none !important;
        outline: none !important;
    }
}
ul {
    list-style: none;
}

header {
    margin-right: min(270px, 13.5vw);
}

main {
    margin-top : 196px;
}

.blog-img {
    width: 100px;
    position: relative;
    
}