---
import "../styles/global.css"
import Post from "../components/post.astro"
import Info from "../components/info.astro"
import Logo from "../components/logo.astro"

const allPosts = Object.values(import.meta.glob("./posts/*.md",{eager:true}));
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ascene</title>
	</head>
	<body>
        <Logo href="/"/>
        <Info allPosts={allPosts}/>
        <Post allPosts={allPosts}/>
	</body>
</html>
