---
---
<html>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, voluptate!</p>
        <p><img src="/src/img/cat.jpg">Ratione laborum quam recusandae? Natus id minima perferendis laboriosam repudiandae?</p>
        <p>Perferendis obcaecati consectetur minima nisi soluta explicabo nostrum accusamus architecto!</p>
        <p>Natus, cupiditate quaerat nisi fugiat ipsam eos corporis quas consectetur!</p>
        <p>Nostrum fugiat excepturi quidem labore consequatur, ipsa incidunt. Eveniet, iure!</p>
    </section>
</html>

<style>
    p{
        width: 400px;
    }
    img{
        position: float;
        float: right;
        margin-left:20px;
        margin-right: -250px;
        border-radius: 32px;
        border: 2px black solid;
    }
</style>