---
import Social from "./social.astro"
const {allPosts} = Astro.props;
---

<header>
    <img src="/img/blog/vector.png" alt="profile picture" id="pfp">
    <section>
        <h2>Graphics Programming<br/>& Artificial Intelligence</h2>
        <p>In this blog I document my learnings and projects, all of which are related to GFX and AI !</p>
    </section>
    <section>
        <h2 id="postlist">Posts</h2>
        <ul>
            {allPosts.map((post)=><a href={post.url}><li><span>{post.frontmatter.date} | </span>{post.frontmatter.title}</li></a>)}
        </ul>
    </section>
    <footer>
        <a href="https://github.com/xnda00"><img src="/img/blog/github.svg"/></a>
        <a href="https://x.com/xnda00"><img src="/img/blog/x.svg"/></a>
        <a href="https://www.youtube.com/@AsceneStudio"><img src="/img/blog/youtube.svg"/></a>
    </footer>
</header>

<style>
    header {
        width: var(--infoWidth);
        background-color: #FFE9CB;
        box-sizing: border-box;
        min-height: 100vh;
        padding: 96px 48px 0px 48px;
        display: flex;
        flex-direction: column;
        gap: 64px;
        align-items: center;
    }
    #pfp {
        width: fit-content;
    }
    section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    h2 {
        padding-bottom: 16px;
        font-size: 1.45em;
    }
    ul , p{
        font-size: 1.3em;
        text-justify: justify;
    }
    #postlist { 
        text-transform: uppercase;
    }
    li {
        width: 264px;
        display: block;
        text-transform:lowercase;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space: nowrap;
    }
    span {
        color:#2a2a2a8b;
    }
    footer {
        display: flex;
        gap: 16px;
    }
</style>