---
import Social from "./social.astro"
const {allPosts} = Astro.props;
---

<header>
    <img src="/vector.png" alt="profile picture" id="pfp">
    <section>
        <h2>Graphics Programming<br/>& Artificial Intelligence</h2>
        <p>In this blog I document my learnings and projects, all of which are related to GFX and AI !</p>
    </section>
    <section>
        <h2 id="postlist">Posts</h2>
        <ul>
            {allPosts.map((post)=><li><span>{post.frontmatter.date} | </span>{post.frontmatter.title}</li>)}
        </ul>
    </section>

    <footer>
        <Social link="https://github.com/xnda00" img="/socials/github.svg"/>
        <Social link="https://x.com/xnda00" img="/socials/x.svg"/>
        <Social link="https://www.youtube.com/@AsceneStudio" img="/socials/youtube.svg"/>
    </footer>
</header>

<style>
    header {
        width: var(--infoWidth);
        background-color: #FFE9CB;
        box-sizing: border-box;
        padding: 96px 48px 0px 48px;
        display: flex;
        flex-direction: column;
        gap: 64px;
        align-items: center;
    }
    #pfp {
        width: 240px;
    }
    section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    h2 {
        padding-bottom: 16px;
        font-size: 1.45em;
    }
    #postlist { 
        text-transform: uppercase;
    }
    ul , p{
        font-size: 1.3em;
        text-justify: justify;
    }
    span {
        color:#2a2a2a8b;
    }
    footer {
        display: flex;
        gap: 16px;
    }
</style>