---
const {href} = Astro.props;
---
<h1 id="logo"><a href={href}>Ascene</a></h1>

<style>
    #logo{
        position: absolute;
        right: 0;
        padding-right: max(20px, 5vw);
    }
    h1{
        font-weight: lighter;
        font-size: 3.5em;
        margin-top: 96px;
    }
    a{
        color: #2A2A2A;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
        &:active{
            text-decoration: none;
        }
    }
</style>