---
import "../styles/global.css"
const {allPosts} = Astro.props;
const colors = {
    "AI": "#CCF7B6",
    "GFX": "#71B1E4",
    "ANY": "#FFC1C1"
}
---

<main>
    <ul id="posts">
        {allPosts.map((post)=><a href={post.url}><li class="post" style={`--post-bg: ${colors[String(post.frontmatter.type)]}`}>{post.frontmatter.title}</li></a>)}
    </ul>
</main>

<style>
    #posts{
        width: var(--postWidth);
        padding: 0;
        margin: 0;
    }

    .post{
        list-style:none;
        width: var(--postWidth);
        background-color: var(--post-bg);
        height: var(--postHeight);
        border-radius: 16px;
        box-sizing: border-box;
        margin-bottom: 48px;
        padding:16px;
        transition: all 0.1s ease-in-out;
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.15);
        }
    }
</style>